version: '3.8'
services:
  my-web:
    build: .
    ports:
      - "8081:80"
  visualizer:
    image: dockersamples/visualizer
    ports:
      - "8082:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
